<table class="table table-bordered">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @env.each do |key, value| %>
      <tr>
        <td class="key"><%= key %></td>
        <td class="value"><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
